In [1]:
library(rstatix)

Warning message:
"package 'rstatix' was built under R version 3.6.3"
Attaching package: 'rstatix'

The following object is masked from 'package:stats':

    filter

In [2]:
x1  <- c(35,35,40,10,6,20,35,35,35,30)
x2  <- c(3.5,4.9,3,2.8,2.7,2.8,4.6,10.9,8,1.6)
x3  <- c(2.8,2.7,4.38,3.21,2.73,2.81,2.88,2.9,3.28,3.2)
fac <-c(1,1,1,1,1,2,2,2,2,2)
df  <- data.frame(x1,x2,x3,fac)

df$fac <- as.factor(df$fac) 

k <- nlevels(df$fac)

n_var <- ncol(df) - 1

N <- nrow(df)

print(df)

   x1   x2   x3 fac
1  35  3.5 2.80   1
2  35  4.9 2.70   1
3  40  3.0 4.38   1
4  10  2.8 3.21   1
5   6  2.7 2.73   1
6  20  2.8 2.81   2
7  35  4.6 2.88   2
8  35 10.9 2.90   2
9  35  8.0 3.28   2
10 30  1.6 3.20   2

In [3]:
df_data = data.frame(x1,x2,x3)
test = colMeans(df_data)
test

    x1     x2     x3
28.100  4.480  3.089

In [4]:
df_cov <- cov(df_data)
df_cov

   x1         x2         x3
x1 140.544444 13.9800000  1.9412222
x2  13.980000  8.2284444 -0.1969111
x3   1.941222 -0.1969111  0.2501211

In [5]:
df_g1 <- df_data[1:5,1:3]
colMeans(df_g1)

    x1     x2     x3
25.200  3.380  3.164

In [6]:
df_g2 <- df_data[6:10,1:3]
colMeans(df_g2)

    x1     x2     x3
31.000  5.580  3.014

In [18]:
G1 <- list(data = df_g1,n = nrow(df_g1) , mean = colMeans(df_g1), S2 = cov(df_g1))
G1['data']
G1['n']
G1['mean']
G1['S2']

$data
  x1  x2   x3
1 35 3.5 2.80
2 35 4.9 2.70
3 40 3.0 4.38
4 10 2.8 3.21
5  6 2.7 2.73

$n
[1] 5

$mean
    x1     x2     x3
25.200  3.380  3.164

$S2
        x1       x2       x3
x1 252.700  8.08000  4.37900
x2   8.080  0.81700 -0.23565
x3   4.379 -0.23565  0.50423

In [17]:
G2 <- list(data = df_g2,n= nrow(df_g2), mean = colMeans(df_g2), S2 = cov(df_g2))
G2['data']
G2['n']
G2['mean']
G2['S2']

$data
   x1   x2   x3
6  20  2.8 2.81
7  35  4.6 2.88
8  35 10.9 2.90
9  35  8.0 3.28
10 30  1.6 3.20

$n
[1] 5

$mean
    x1     x2     x3
31.000  5.580  3.014

$S2
        x1       x2       x3
x1 42.5000 15.40000  0.53250
x2 15.4000 14.67200 -0.00115
x3  0.5325 -0.00115  0.04448

In [19]:
L <- list(G1=G1, G2=G2)

In [10]:
#####3.2 Construction du test
####3.2.1 Estimation de la variance commune

### Test M de Box
test <- box_m(df[,1:3],df$fac)
test

Upper_S_d2_P1 <- (G1$n -1)*(G1$S2^2)
Upper_S_d2_P1

Upper_S_d2_P2 <- (G2$n -1)*(G2$S2^2)
Upper_S_d2_P2

Under_S_d2 <- G1$n + G2$n -2

S_d2 <- (Upper_S_d2_P1+Upper_S_d2_P2)/Under_S_d2
S_d2

S_d= sqrt(S_d2)

MatMoy <- data.matrix(G1$mean - G2$mean)
MatMoy

Midd_T2 <- 1/(((1/G1$n)+(1/G2$n))*S_d)
Midd_T2

T_2 <- t(MatMoy) %*% (Midd_T2) %*% MatMoy
T_2

  statistic p.value    parameter
1 11.90438  0.06413635 6
  method
1 Box's M-test for Homogeneity of Covariance Matrices

   x1           x2          x3
x1 255429.16000 261.1456000 76.7025640
x2    261.14560   2.6699560  0.2221237
x3     76.70256   0.2221237  1.0169916

   x1          x2           x3
x1 7225.000000 948.64000000 1.134225000
x2  948.640000 861.07033600 0.000005290
x3    1.134225   0.00000529 0.007913882

   x1           x2           x3
x1 32831.770000 151.22320000 9.72959862
x2   151.223200 107.96753650 0.02776612
x3     9.729599   0.02776612 0.12811318

   [,1]
x1 -5.80
x2 -2.20
x3  0.15

   x1         x2         x3
x1 0.01379726  0.2032969  0.8014797
x2 0.20329692  0.2405988 15.0031479
x3 0.80147974 15.0031479  6.9846251

     [,1]
[1,] -4.322723

In [11]:
new_df <- select(df, x1, x2, x3)
j <- matrix(1, nrow = 1, ncol = dim(df)[1])
m <- colSums(1/N*j*new_df)

colMeans(new_df) == m

  x1   x2   x3
TRUE TRUE TRUE